input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.dictionary {
  font-family: "Inter", sans-serif;
}

.searchBar {
  border: none;
  background: none;
  font-size: 48px;
  width: 60vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 80%);
}
.searchBar:focus {
  outline: none;
}

.submitButton {
  border: none;
  background: none;
}
.search-icon {
  font-size: 30px;
  color: #5a5a5a;
}

.nav-link:hover {
  color: var(--bs-navbar-active-color);
}

@media (max-width: 500px) {
  .searchBar {
    font-size: 32px;
  }
}
