.photo-wrap {
  height: 100%;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0 20px;
  height: 100%;
}

.photo-grid div img {
  aspect-ratio: 1/1;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
  }
}
