.synonyms-grid {
  padding: 0 10px;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 800px) {
  .synonyms-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
